@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


body{
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.main-header{
  color: #000000;
  background-color: #ffffff;
}
.navigation-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
.button-search{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;

}


.main-logo{
  height: 485px;
  background-image: url("/Image/Svg/hero-end.svg"), url("/Image/Jpg/index-background.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, repeat-y;
  background-position: bottom center, top center;

}
.slogan-header {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.slogan-text{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.advantages-title{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.advanteges-paragraph{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.advantages-title-blue{
  color: #ffffff;
  background-color: #82B3D3;
}
.advantages-item-green{
  background: rgba(131, 179, 211, 0.2);
}

.services-heading{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-paragraph{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.services-item-food{
  background-image: url("/Image/Svg/food-icon.svg");
  background-repeat: no-repeat;
}
.services-item-house{
  background-image: url("/Image/Svg/house-icon.svg");
  background-repeat: no-repeat;
}
.services-item-gift{
  background-image: url("/Image/Svg/gift-icon.svg");
  background-repeat: no-repeat;
}

.search-head{
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.search-foot{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.subscription-head{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.subscription-paragraph{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.subscription-foot{
  background-image: url("/Image/Jpg/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

}


.social-kontakt{
  background-image: url("/Image/Svg/Vk-icon.svg");
  background-repeat: no-repeat;
}
